Fila A
1.Scrivere le istruzioni per caricare i dati del file csv (inventare il link e il nome del file) in un dataframe Pandas chiamato “movies”

In [ ]:
import pandas as pd
url = 'https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv' 
movies = pd.read_csv(url)
movies

                                  Film    Genre  ... Worldwide Gross  Year
0           Zack and Miri Make a Porno  Romance  ...         $41.94   2008
1                      Youth in Revolt   Comedy  ...         $19.62   2010
2   You Will Meet a Tall Dark Stranger   Comedy  ...         $26.66   2010
3                         When in Rome   Comedy  ...         $43.04   2010
4                What Happens in Vegas   Comedy  ...        $219.37   2008
..                                 ...      ...  ...             ...   ...
72                 Across the Universe  romance  ...         $29.37   2007
73                       A Serious Man    Drama  ...         $30.68   2009
74                  A Dangerous Method    Drama  ...          $8.97   2011
75                          27 Dresses   Comedy  ...        $160.31   2008
76                (500) Days of Summer   comedy  ...         $60.72   2009

[77 rows x 8 columns]

Fila A 2.visualizzare le ultime 8 righe del dataframe

In [ ]:
movies.tail(8)

                    Film    Genre  ... Worldwide Gross  Year
69             Enchanted   Comedy  ...        $340.49   2007
70             Dear John    Drama  ...        $114.97   2010
71             Beginners   Comedy  ...         $14.31   2011
72   Across the Universe  romance  ...         $29.37   2007
73         A Serious Man    Drama  ...         $30.68   2009
74    A Dangerous Method    Drama  ...          $8.97   2011
75            27 Dresses   Comedy  ...        $160.31   2008
76  (500) Days of Summer   comedy  ...         $60.72   2009

[8 rows x 8 columns]

Fila A 3.visualizzare solo le colonne che contengono il titolo e il genere del film

In [ ]:
movies[['Film','Genre']]

                                  Film    Genre
0           Zack and Miri Make a Porno  Romance
1                      Youth in Revolt   Comedy
2   You Will Meet a Tall Dark Stranger   Comedy
3                         When in Rome   Comedy
4                What Happens in Vegas   Comedy
..                                 ...      ...
72                 Across the Universe  romance
73                       A Serious Man    Drama
74                  A Dangerous Method    Drama
75                          27 Dresses   Comedy
76                (500) Days of Summer   comedy

[77 rows x 2 columns]

Fila A 4.visualizzare le righe del dataframe dalla 20 alla 30

In [ ]:
movies.iloc[20:31]

                                   Film      Genre  ... Worldwide Gross  Year
20  The Curious Case of Benjamin Button    Fantasy  ...        $285.43   2008
21                     The Back-up Plan     Comedy  ...         $77.09   2010
22                              Tangled  Animation  ...        $355.01   2010
23                   Something Borrowed    Romance  ...         $60.18   2011
24               She's Out of My League     Comedy  ...         $48.81   2010
25                 Sex and the City Two     Comedy  ...        $288.35   2010
26                   Sex and the City 2     Comedy  ...        $288.35   2010
27                     Sex and the City     Comedy  ...        $415.25   2008
28                          Remember Me      Drama  ...         $55.86   2010
29               Rachel Getting Married      Drama  ...         $16.61   2008
30                             Penelope     Comedy  ...         $20.74   2008

[11 rows x 8 columns]

In [ ]:
Fila A 5.visualizzare i titolo e l’anno dei film che si trovano nelle posizioni 23, 29 e 45

In [ ]:
movies.loc[[23,29,45],['Film','Year']]

                      Film  Year
23      Something Borrowed  2011
29  Rachel Getting Married  2008
45              Mamma Mia!  2008

Fila A 6.visualizzare i titoli dei film del genere “Animation”

In [ ]:
movies.loc[movies['Genre']=='Animation','Film']

6                WALL-E
22              Tangled
64    Gnomeo and Juliet
65    Gnomeo and Juliet
Name: Film, dtype: object

Fila A 7.visualizzare i titoli dei film prodotti dalla “Disney” e dalla “20th Century Fox”

In [ ]:
movies.loc[(movies['Lead Studio']=='Disney') | (movies['Lead Studio']=='20th Century Fox')]

                                  Film      Genre  ... Worldwide Gross  Year
3                         When in Rome     Comedy  ...         $43.04   2010
5                  Water For Elephants      Drama  ...        $117.09   2011
6                               WALL-E  Animation  ...        $521.28   2008
16                        The Proposal     Comedy  ...        $314.70   2009
22                             Tangled  Animation  ...        $355.01   2010
41                         Monte Carlo    Romance  ...         $39.66   2011
60  High School Musical 3: Senior Year     Comedy  ...        $252.04   2008
64                   Gnomeo and Juliet  Animation  ...        $193.97   2011
65                   Gnomeo and Juliet  Animation  ...        $193.97   2011
69                           Enchanted     Comedy  ...        $340.49   2007

[10 rows x 8 columns]

Fila A 8.visualizzare i titoli dei film usciti dal 2005 al 2010

In [ ]:
movies.loc[(movies['Year'] >2005) & (movies['Year'] <= 2010)]

                                  Film    Genre  ... Worldwide Gross  Year
0           Zack and Miri Make a Porno  Romance  ...         $41.94   2008
1                      Youth in Revolt   Comedy  ...         $19.62   2010
2   You Will Meet a Tall Dark Stranger   Comedy  ...         $26.66   2010
3                         When in Rome   Comedy  ...         $43.04   2010
4                What Happens in Vegas   Comedy  ...        $219.37   2008
..                                 ...      ...  ...             ...   ...
70                           Dear John    Drama  ...        $114.97   2010
72                 Across the Universe  romance  ...         $29.37   2007
73                       A Serious Man    Drama  ...         $30.68   2009
75                          27 Dresses   Comedy  ...        $160.31   2008
76                (500) Days of Summer   comedy  ...         $60.72   2009

[63 rows x 8 columns]

Fila A 9.visualizzare i film (tutte le colonne) il cui titolo comincia con la lettera W

In [ ]:
movies = movies[movies['Film'].str.startswith('W'),'Genre']
movies

TypeError: ignored

Altro questo serve per i film che finiscono con quella lettera

In [ ]:
movies = movies[movies['Film'].str.endswith('s')]
movies

                         Film    Genre  ... Worldwide Gross  Year
4       What Happens in Vegas   Comedy  ...        $219.37   2008
5         Water For Elephants    Drama  ...        $117.09   2011
7                    Waitress  Romance  ...         $22.18   2007
19                The Duchess    Drama  ...         $43.31   2008
36            No Reservations   Comedy  ...         $92.60   2007
40           Music and Lyrics  Romance  ...        $145.90   2007
43          Midnight in Paris  Romence  ...        $148.66   2011
48               Love Happens    Drama  ...         $36.08   2009
49         Love & Other Drugs   Comedy  ...         $54.53   2010
55                    Killers   Action  ...         $93.40   2010
59  I Love You Phillip Morris   Comedy  ...         $20.10   2010
67           Four Christmases   Comedy  ...        $161.83   2008
71                  Beginners   Comedy  ...         $14.31   2011
75                 27 Dresses   Comedy  ...        $160.31   2008

[14 rows x 8 columns]

Fila A 10.visualizzare l’ “Audience score %” medio dei film del genere “Drama”

In [ ]:
movies[movies['Genre']=='Drama'].groupby('Genre')['Audience score %'].mean()

Genre
Drama    67.230769
Name: Audience score %, dtype: float64

In [ ]:
movies.loc[movies['Genre']=='Drama',['Audience score %']].mean()

Audience score %    60.0
dtype: float64

Fila A 11.visualizzare il numero di film per ogni genere

In [ ]:
numFilm = movies.groupby("Genre")["Genre"].count()
numFilm

Genre
Action        1
Animation     4
Comdy         1
Comedy       41
Drama        13
Fantasy       1
Romance      13
Romence       1
comedy        1
romance       1
Name: Genre, dtype: int64

Fila A 12.diminuire del 10% il valore delle recensioni presenti nel campo “Audience score %”

In [ ]:
movies['Rotten Tomatoes %'] = movies['Rotten Tomatoes %'].apply(lambda x : x * 0.9)
movies

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                         Film    Genre  ... Worldwide Gross  Year
4       What Happens in Vegas   Comedy  ...        $219.37   2008
5         Water For Elephants    Drama  ...        $117.09   2011
7                    Waitress  Romance  ...         $22.18   2007
19                The Duchess    Drama  ...         $43.31   2008
36            No Reservations   Comedy  ...         $92.60   2007
40           Music and Lyrics  Romance  ...        $145.90   2007
43          Midnight in Paris  Romence  ...        $148.66   2011
48               Love Happens    Drama  ...         $36.08   2009
49         Love & Other Drugs   Comedy  ...         $54.53   2010
55                    Killers   Action  ...         $93.40   2010
59  I Love You Phillip Morris   Comedy  ...         $20.10   2010
67           Four Christmases   Comedy  ...        $161.83   2008
71                  Beginners   Comedy  ...         $14.31   2011
75                 27 Dresses   Comedy  ...        $160.31   2008

[14 rows x 8 columns]

In [ ]:
movies['Rotten Tomatoes %'] = movies['Rotten Tomatoes %']*0.9
movies

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                         Film    Genre  ... Worldwide Gross  Year
4       What Happens in Vegas   Comedy  ...        $219.37   2008
5         Water For Elephants    Drama  ...        $117.09   2011
7                    Waitress  Romance  ...         $22.18   2007
19                The Duchess    Drama  ...         $43.31   2008
36            No Reservations   Comedy  ...         $92.60   2007
40           Music and Lyrics  Romance  ...        $145.90   2007
43          Midnight in Paris  Romence  ...        $148.66   2011
48               Love Happens    Drama  ...         $36.08   2009
49         Love & Other Drugs   Comedy  ...         $54.53   2010
55                    Killers   Action  ...         $93.40   2010
59  I Love You Phillip Morris   Comedy  ...         $20.10   2010
67           Four Christmases   Comedy  ...        $161.83   2008
71                  Beginners   Comedy  ...         $14.31   2011
75                 27 Dresses   Comedy  ...        $160.31   2008

[14 rows x 8 columns]

Fila B 1.Scrivere le istruzioni per caricare i dati del file csv (inventare il link e il nome del file) in un dataframe Pandas chiamato “movies”

In [ ]:
import pandas as pd
url = 'https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv' 
movies = pd.read_csv(url)
movies

                                  Film    Genre  ... Worldwide Gross  Year
0           Zack and Miri Make a Porno  Romance  ...         $41.94   2008
1                      Youth in Revolt   Comedy  ...         $19.62   2010
2   You Will Meet a Tall Dark Stranger   Comedy  ...         $26.66   2010
3                         When in Rome   Comedy  ...         $43.04   2010
4                What Happens in Vegas   Comedy  ...        $219.37   2008
..                                 ...      ...  ...             ...   ...
72                 Across the Universe  romance  ...         $29.37   2007
73                       A Serious Man    Drama  ...         $30.68   2009
74                  A Dangerous Method    Drama  ...          $8.97   2011
75                          27 Dresses   Comedy  ...        $160.31   2008
76                (500) Days of Summer   comedy  ...         $60.72   2009

[77 rows x 8 columns]

Fila B 2.visualizzare le prime 12 righe del dataframe

In [ ]:
movies.head(12)

                                   Film      Genre  ... Worldwide Gross  Year
0            Zack and Miri Make a Porno    Romance  ...         $41.94   2008
1                       Youth in Revolt     Comedy  ...         $19.62   2010
2    You Will Meet a Tall Dark Stranger     Comedy  ...         $26.66   2010
3                          When in Rome     Comedy  ...         $43.04   2010
4                 What Happens in Vegas     Comedy  ...        $219.37   2008
5                   Water For Elephants      Drama  ...        $117.09   2011
6                                WALL-E  Animation  ...        $521.28   2008
7                              Waitress    Romance  ...         $22.18   2007
8                   Waiting For Forever    Romance  ...          $0.03   2011
9                       Valentine's Day     Comedy  ...        $217.57   2010
10  Tyler Perry's Why Did I get Married    Romance  ...         $55.86   2007
11              Twilight: Breaking Dawn    Romance  ...        $702.17   2011

[12 rows x 8 columns]

Fila B 3.visualizzare le colonne 3, 4, 5 e 6

In [ ]:
movies.iloc[[3,4,5,6]]

                    Film      Genre  ... Worldwide Gross  Year
3           When in Rome     Comedy  ...         $43.04   2010
4  What Happens in Vegas     Comedy  ...        $219.37   2008
5    Water For Elephants      Drama  ...        $117.09   2011
6                 WALL-E  Animation  ...        $521.28   2008

[4 rows x 8 columns]

Fila B 4.visualizzare le righe del dataframe che si trovano dalla decima alla trentesima posizione

In [ ]:
movies.iloc[10:30]

                                   Film      Genre  ... Worldwide Gross  Year
10  Tyler Perry's Why Did I get Married    Romance  ...         $55.86   2007
11              Twilight: Breaking Dawn    Romance  ...        $702.17   2011
12                             Twilight    Romance  ...        $376.66   2008
13                       The Ugly Truth     Comedy  ...        $205.30   2009
14          The Twilight Saga: New Moon      Drama  ...        $709.82   2009
15             The Time Traveler's Wife      Drama  ...        $101.33   2009
16                         The Proposal     Comedy  ...        $314.70   2009
17               The Invention of Lying     Comedy  ...         $32.40   2009
18                   The Heartbreak Kid     Comedy  ...        $127.77   2007
19                          The Duchess      Drama  ...         $43.31   2008
20  The Curious Case of Benjamin Button    Fantasy  ...        $285.43   2008
21                     The Back-up Plan     Comedy  ...         $77.09   2010
22                              Tangled  Animation  ...        $355.01   2010
23                   Something Borrowed    Romance  ...         $60.18   2011
24               She's Out of My League     Comedy  ...         $48.81   2010
25                 Sex and the City Two     Comedy  ...        $288.35   2010
26                   Sex and the City 2     Comedy  ...        $288.35   2010
27                     Sex and the City     Comedy  ...        $415.25   2008
28                          Remember Me      Drama  ...         $55.86   2010
29               Rachel Getting Married      Drama  ...         $16.61   2008

[20 rows x 8 columns]

Fila B 5.visualizzare il genere e lo studio dei film che si trovano dalla decima alla ventesima posizione

In [ ]:
movies.loc[[20],['Genre','Lead Studio']]

      Genre   Lead Studio
20  Fantasy  Warner Bros.

Fila B 6.visualizzare le informazioni del film “When in Rome”

In [ ]:
movies.loc[movies['Film']=='When in Rome']

           Film   Genre Lead Studio  ...  Rotten Tomatoes %  Worldwide Gross  Year
3  When in Rome  Comedy      Disney  ...                 15          $43.04   2010

[1 rows x 8 columns]

Fila B 7.visualizzare  le informazioni dei film “When in Rome”, “Waitress” e “WALL-E”

In [ ]:
movies.loc[movies['Film']=='When in Rome']

           Film   Genre Lead Studio  ...  Rotten Tomatoes %  Worldwide Gross  Year
3  When in Rome  Comedy      Disney  ...                 15          $43.04   2010

[1 rows x 8 columns]

Fila B 8.visualizzare i titoli dei film che hanno avuto una recensione di Rotten Tomatoes compresa tra 80 e 90

In [ ]:
movies.loc[(movies['Rotten Tomatoes %']>80)&(movies['Rotten Tomatoes %']<90)]

                      Film      Genre  ... Worldwide Gross  Year
7                 Waitress    Romance  ...         $22.18   2007
22                 Tangled  Animation  ...        $355.01   2010
29  Rachel Getting Married      Drama  ...         $16.61   2008
39    My Week with Marilyn      Drama  ...          $8.26   2011
57               Jane Eyre    Romance  ...         $30.15   2011
71               Beginners     Comedy  ...         $14.31   2011
73           A Serious Man      Drama  ...         $30.68   2009
76    (500) Days of Summer     comedy  ...         $60.72   2009

[8 rows x 8 columns]

Fila B 9.visualizzare i film che hanno la parola “friends” nel titolo

In [ ]:

movieFind = movies.loc[movies['Film'].str.contains("friends")]
movieFind

                          Film   Genre  ... Worldwide Gross  Year
66  Ghosts of Girlfriends Past  Comedy  ...        $102.22   2009

[1 rows x 8 columns]

Fila B 10.visualizzare il valore più alto della recensione di Rotten Tomatoes

In [ ]:
movies['Rotten Tomatoes %'].max()

96

Fila B 11.visualizzare il numero di film per ogni studio

In [ ]:
numFilms = movies.groupby("Lead Studio")["Lead Studio"].count()
numFilms

Lead Studio
20th Century Fox          2
CBS                       1
Disney                    8
Fox                       6
Independent              19
Lionsgate                 2
New Line                  1
Paramount                 4
Sony                      4
Summit                    5
The Weinstein Company     3
Universal                 8
Warner Bros.             14
Name: Lead Studio, dtype: int64

Fila B 12.aumentare del 10% il valore delle recensioni di Rotten Tomatoes

In [ ]:
movies['Rotten Tomatoes %'] = movies['Rotten Tomatoes %'].apply(lambda x : x * 1.1)
movies

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                         Film    Genre  ... Worldwide Gross  Year
4       What Happens in Vegas   Comedy  ...        $219.37   2008
5         Water For Elephants    Drama  ...        $117.09   2011
7                    Waitress  Romance  ...         $22.18   2007
19                The Duchess    Drama  ...         $43.31   2008
36            No Reservations   Comedy  ...         $92.60   2007
40           Music and Lyrics  Romance  ...        $145.90   2007
43          Midnight in Paris  Romence  ...        $148.66   2011
48               Love Happens    Drama  ...         $36.08   2009
49         Love & Other Drugs   Comedy  ...         $54.53   2010
55                    Killers   Action  ...         $93.40   2010
59  I Love You Phillip Morris   Comedy  ...         $20.10   2010
67           Four Christmases   Comedy  ...        $161.83   2008
71                  Beginners   Comedy  ...         $14.31   2011
75                 27 Dresses   Comedy  ...        $160.31   2008

[14 rows x 8 columns]